.popup {
    padding: 8px;
}
.title {
    color: #2e2e2e;
    margin-bottom: 6px;
}
.main-btn {

    display: inline-block;
    background: #f7f9fa;
    width: 80px;
    height: 80px;
    font-size: 11px;
    color: #2e2e2e;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    padding: 8px 0;
    &:hover{
        background-color: #edf2f5;
    }
}
// .capture-btn-wrap {
    .icon {
        height: 40px;
        width: 40px;
        transform: scale(0.6);
        &.select-icon {
            background-image: url(../assets/capture-select.svg);
        }
        &.current-icon {
            background-image: url(../assets/capture-current.svg);
        }
        &.full-icon {
            background-image: url(../assets/capture-full.svg);
        }
    }
// }
// background-image: url(../assets/capture-select.svg);


.btn {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    background: #f7f9fa;
    width: 240px;
    height: 40px;
    font-size: 11px;
    color: #2e2e2e;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    padding: 8px 0;
    border: 1px solid transparent;
    &:hover{
        background-color: #edf2f5;
        border-color: #9fceeb;
    }
}

.select-pic-icon {
    background-image: url('../assets/select-picture.svg');
}