.masonry {
  position: relative;
  overflow: hidden;

  .brick {
    will-change: transform;
    position: absolute;
    top: 0;
    left: 0;
    
    // & > * {
    //   transform: scale(0.9);
    //   transform-origin: center 20%;
    // }
    
    // &.brickShown {
    //   & > * {
    //     transition: transform 0.1s ease-in-out;
    //     transform: scale(1);
    //   }
    // }
  }
}